@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('utility.css');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 10px;
}

.testimonials {
    background: #ECF2F7;
    padding: 4rem 0;
}

.heading h1 {
    font-size: 3rem;
    margin: 3rem;
}

.container {
    width: 95%;
    max-width: 1280px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "item1 item1 item2 item3" "item4 item5 item5 item3";
    gap: 1.5rem;
}

.items {
    border-radius: 5px;
    padding: 1.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    grid-template-areas: "image name" "title title" "description description";
    row-gap: 1.5rem;
    align-content: start;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.items img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    grid-area: image;
}

.items .name {
    font-size: 1.6rem;
    grid: name;
    align-self: center;
    padding-left: 1rem;
    font-weight: 600;
}

.items .title {
    font-size: 1.8rem;
    grid-area: title;
    font-weight: 600;
}

.items .description {
    font-size: 1.6rem;
    grid-area: description;
}

.items .description::before {
    content: '"';
}

.items .description::after {
    content: '"';
}

.item1 {
    background: #733FC7 url('./media/quotation.png') no-repeat top 10% right 20px;
    background-size: 50px;
    grid-area: item1;
}

.item2 {
    background: #49556C;
    grid-area: item2;
}

.item3 {
    background: #FEFEFE;
    grid-area: item3;
}

.item4 {
    background: #FEFEFE;
    grid-area: item4;
}

.item5 {
    background: #181F2C;
    grid-area: item5;
}