.btn {
    color: #ffffff;
    background-color: var(--theme-color);
    padding: 1rem 2rem;
    border-radius: 12px;
}

.btn:hover {
    background-color: var(--theme-color-hover);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}