.container {
    width: 90%;
    max-width: 1280px;
    margin: auto;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.active {
    color: var(--theme-color)!important;
}