@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
:root {
    --theme-text: #2d3748;
    --theme-text-dull: #5c6069;
    --theme-text-long: #718096;
    --theme-color: #0081EB;
    --theme-color-hover: #0062B3;
    --theme-section-bg: #F6F7FC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: var(--theme-text);
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

/* html::-webkit-scrollbar {
    width: 20px;
} */

/* html::-webkit-scrollbar-thumb {
    background-color: #b4ddff;
    border-radius: 10px;
    border: 1px solid #F6F7FC;
} */

/* html::-webkit-scrollbar-track {
    background-color: #2d3748;
} */