@import url(./_global.css);
@import url(./_utility.css);
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.d-menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.d-menu ul li {
    padding: 2rem 2rem;
    color: var(--theme-text-dull);
    font-size: 1.6rem;
    font-weight: 600;
}

.d-menu ul li:hover {
    color: var(--theme-color);
}

.m-menu {
    display: none;
    position: relative;
}

.m-menu .hamburger {
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background-color: #ffffff;
    color: var(--theme-text);
}

.m-menu .m-navbar {
    position: absolute;
    right: 9px;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    background-color: var(--theme-section-bg);
    padding: 3rem 3rem;
    border-radius: 7px;
    box-shadow: 5px 3px 2px rgb(140 152 164 / 15%);
}

.m-menu .m-navbar li {
    padding: 1rem 2rem;
    font-weight: 500;
    color: var(--theme-text-dull);
}

.m-menu .m-navbar li:hover {
    cursor: pointer;
    color: var(--theme-color);
    background-color: #b8dfff;
    border-radius: 5px;
}

.m-menu .m-navbar .btn {
    margin-top: 2rem;
    text-align: center;
    display: block;
}

.intro-section {
    display: flex;
    flex-wrap: wrap;
    margin: 7rem auto;
}

.intro-text {
    max-width: 50%;
    padding: 2rem 0 2rem 0;
}

.float-bg {
    position: absolute;
    bottom: 100px;
    left: 50px;
    z-index: -1;
    animation: bounce 4s ease 0.5s infinite alternate;
}

.introduction .tag-line {
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 3rem;
    color: var(--theme-color);
}

.introduction .main-line {
    font-weight: 700;
    color: var(--theme-text);
    font-size: 4.6rem;
    margin-bottom: 3rem;
    position: relative;
}

.highlight::before {
    content: "";
    width: 315px;
    height: 20%;
    background-color: var(--theme-color);
    position: absolute;
    bottom: 0;
    z-index: -1;
    opacity: 0.2;
}

.introduction .description {
    font-size: 1.8rem;
    color: var(--theme-text-long);
    margin-bottom: 4rem;
}

.intro-images {
    position: relative;
    width: 50%;
    text-align: center;
}

.float-bl {
    position: absolute;
    bottom: 100px;
    left: 50px;
    animation: bounce 2s ease 0.5s infinite alternate, slide-right 0.5s ease 0s 1 alternate;
}

.float-tr {
    position: absolute;
    top: 50px;
    right: 50px;
    animation: bounce 2.1s ease 0.5s infinite alternate, slide-left 0.5s ease 0s 1 alternate;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

@keyframes slide-right {
    0% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0px);
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(50px);
    }
    100% {
        transform: translateX(0px);
    }
}

.growth {
    background-color: var(--theme-section-bg);
    border-radius: 24px;
    margin: 15rem auto 5rem auto;
    font-size: 2rem;
    padding: 2rem 2rem;
}

.growth .stats {
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    justify-content: space-evenly;
    padding: 2rem;
    max-width: 90%;
    margin: -8rem auto;
    border-radius: 24px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.growth .stats div {
    padding: 2rem;
    text-align: center;
}

.growth .stats h1 {
    font-size: 5rem;
    text-shadow: 2px 2px 5px rgb(196, 196, 196);
}

.growth .stats p {
    color: var(--theme-color);
}

.growth .info {
    margin-top: 15rem;
    text-align: center;
}

.growth .info .tag-line {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

.growth .info .tag-line span {
    background-color: var(--theme-color);
    background-image: linear-gradient(160deg, #0081EB 50%, #8ad4ff 100%);
    -webkit-background-clip: text;
    color: transparent;
}

.growth .info .description {
    color: var(--theme-text-long);
}

.qualities {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 7rem auto 10rem auto;
}

.qualities div {
    width: 250px;
    background-color: #ffffff;
    margin: 1rem;
    padding: 2rem 0;
    border-radius: 20px;
    box-shadow: 0px 0px 35px rgb(140 152 164 / 13%);
    display: flex;
    flex-direction: column;
}

.qualities p {
    margin-top: 2rem;
}

.qualities .icon {
    background-color: #0081EB;
    width: 70px;
    height: 70px;
    font-size: 4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.qualities .icon:hover {
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.qualities .icon1 {
    background-color: #D3E7FE;
}

.qualities .icon2 {
    background-color: #FFF3CC;
}

.qualities .icon3 {
    background-color: #FEE8D1;
}

.qualities .icon4 {
    background-color: #D5FCDD;
}

.qualities .title {
    font-weight: 500;
}

.qualities .description {
    font-size: 1.6rem;
    color: var(--theme-text-long);
}

.working {
    padding-top: 10rem;
}

.content {
    font-size: 2rem;
    text-align: center;
}

.content .tag-line {
    font-size: 4rem;
    font-weight: 600;
    color: var(--theme-text);
}

.content .main-line {
    font-size: 3rem;
    font-weight: 600;
    color: var(--theme-color);
    margin-bottom: 2rem;
}

.content .description {
    font-size: 2rem;
    color: var(--theme-text-long);
    margin-bottom: 5rem;
}

.demo {
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "item1 image item4" "item2 image item5" "item3 image item6";
    gap: 1rem;
    position: relative;
}

.demo .item1 {
    grid-area: item1;
}

.demo .item2 {
    grid-area: item2;
}

.demo .item3 {
    grid-area: item3;
}

.demo .image {
    grid-area: image;
    padding: 2rem;
    width: 100%;
}

.demo .item4 {
    grid-area: item4;
}

.demo .item5 {
    grid-area: item5;
}

.demo .item6 {
    grid-area: item6;
}

.demo .title {
    font-size: 2.4rem;
    color: var(--theme-color);
    font-weight: 600;
}

.demo .description {
    font-size: 1.8rem;
    color: var(--theme-text-long);
}

.demo .move-right {
    text-align: right;
}

.demo .float-bg-2 {
    position: absolute;
    bottom: 100px;
    right: 5px;
    z-index: -1;
    animation: rotate 5s ease 0s infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

footer {
    background-color: var(--theme-section-bg);
}

footer .logo img {
    cursor: pointer;
}

footer .links {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 10rem;
}

footer p {
    font-size: 1.8rem;
    margin-top: 1rem;
}

footer h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer li {
    font-size: 1.6rem;
    padding: 0.6rem 0;
    color: var(--theme-text-dull);
}

footer li:hover {
    cursor: pointer;
}

footer i {
    padding-right: 1rem;
}

footer .bi-twitter {
    color: #1da1f2;
}

footer .bi-instagram {
    color: #c13584;
}

footer .bi-youtube {
    color: #db0000;
}

/* main {
    height: 50vh;
    overflow-y: scroll;
} */

/* main::-webkit-scrollbar {
    width: 5px;
} */

/* main::-webkit-scrollbar-thumb {
    background-color: #c9c9c9;
    border-radius: 10px;
    border: 1px solid #F6F7FC;
} */

/* main::-webkit-scrollbar-track {
    background-color: #2d3748;
} */